@font-face {font-family: 'NotoSerifKR';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');font-weight: normal;font-style: normal;}

body {
margin:0;
font-family: 'NotoSerifKR';
}
.container {
display: flex;
height: auto;
}

/* 네비게이션 바 */
.back-space{
  background-color: #2c2c2c;
  padding: 10px;
  flex:1;
  margin:0;
  top: 10px;
  z-index:90;
}
#sidebox {
  position: absolute; 
  padding: 0px;
  margin:30px;
  top: 10px;
  flex:1;
  background-color: #2c2c2c;
  color: #fff;
  z-index:100;
  list-style:none;
}
ul.navbar {
  background-color: #2c2c2c;
  padding: 10px;
  flex:1;
  margin:0;
  flex-direction: column;
}
.navbar .main_nav {
  font-size : 20px;
  color: white !important;
}
ul.navbar li a:hover:not(.main_nav){
  color: white;
}
ul.navbar li a {
  text-decoration:none;
  text-align:center;
  color:#B6B6B6;
  display:block;
  margin: 10px;
  padding: 15px 20px;
}
ul.navbar li{
  text-decoration:none;
}
/* 아이콘 구현 */
/* ul.navbar li a.moveToarea::before {
  background-image: url("https://ifh.cc/g/JMSyku.png");
  background-size: 29px 30px;
  background-repeat:no-repeat;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 27%; 
  height: 35px;
}
ul.navbar li a.moveToarea1::before, a.moveToarea2::before, a.moveToarea3::before {
  background-image: url("https://ifh.cc/g/pvKrE9.png");
  background-size: 24px 30px;
  background-repeat:no-repeat;
  vertical-align: middle;
  content: " ";
  display: inline-block;
  width: 23%; 
  height: 35px; 
} */

/* 메인 컨텐츠 */
.main_content {
background-color: #f4f3ef;
/* padding: 10px; */
flex:5;
flex-direction: column;
}
.main_content > .content {
  padding: 10px 10px 50px 10px;
}
.main_content > footer {
  background-color : #2c2c2c;
  margin:0;
}
#banner {
display: inline-block;
font-size : 30px;
text-align:center;
margin: 5px;
padding: 15px 20px;
}
#tab_1, #tab_2, #tab_3 {
margin: 0 10px;
}
.footer {
 background-color:#343537;
}

/* 텝매뉴 구현 */
ul.tabs{
  margin: 20px 10px 0 10px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
}
ul.tabs li.current{
  background:#ffffff;
  color: #222;
}
.tab-content{
    display: none;
    background:#ffffff;
    padding: 15px;
}
.tab-content.current{
    display: inherit;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    border-radius: 0 10px 10px 10px;
}
/* 자세한 일정표 */
.tablecard1{
  border: solid 1px #E7E7E7;
  border-radius: 5px;
  margin:20px;
  padding:20px 30px;
}

/*추가*/
#wrap{
  margin:0 auto;
  width:300px;
}
#back-to-top { 
  display: inline-block;
  background-color: #2c2c2c;;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #525252;
}
#back-to-top:active {
  background-color: #2c2c2c;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* .fc-view-harness.fc-view-harness-active{
  height: 873.333px!important;
} */
