{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>진주 유등 축제</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type = "text/javascript" src="{% static 'map.js' %}"></script>
        <script type = "text/javascript" src="{% static 'top.js' %}"></script>
        <script type = "text/javascript" src="{% static 'nav.js' %}"></script>
        <script type = "text/javascript" src="{% static 'slider.js' %}"></script>
        <script src="{% static 'upbutton.js' %}"></script>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
   
    <body>
        <div class="container">
            <div class="back-space"></div>
            <ul class="navbar" id="sidebox">
                <li><a href="{% url 'main' %}" class="nav_title">진주 유등축제</a></li>
                    <hr style="margin:20px 0">
                <li><a href="#" class>달력</a></li>
                <li><a href="#" class>구역1</a></li>
                <li><a href="#" class>구역2</a></li>
                <li><a href="#" class>구역3</a></li>
            </ul>
            
            <div class="main_content">
                <div class="main">                 
                    <div class="welcome">
                        진주남강유등축제
                        <p style="padding:10px;">7만여개 등이 비추는 진주 천년의 역사</p>
                        <p>2020.10.01 ~ 13</p>
                    </div>
                </div>
            </div>
            <div class="footer"></div>
            <a id="back-to-top"></a>
     </div>
    </body>
</html>