{% load static %}
<!DOCTYPE html> 
<html>
    <head>
        <meta charset='utf-8' />
        <title>진주 유등 축제 일정</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'timetable.css' %}">
        <script type = "text/javascript" src="{% static 'timetable.js' %}"></script>
        <script type = "text/javascript" src="{% static 'nav.js' %}"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/locales-all.min.js"></script>
      </head>
      
    <body>
        <div class="container">
          <div class="back-space"></div>
          <ul class="navbar" id="sidebox">
            <li><a href="{% url 'main' %}" class="main_nav">진주 유등축제</a></li>
              <hr style="margin:20px 0">
            <li><a href="{% url 'timetable' %}" class="moveToarea">행사일정</a></li>
            <li><a href="{% url 'index' %}" class="moveToarea">축제둘러보기</a></li>
            <li><a href="{% url 'index' %}" class="moveToarea1">구역1</a></li>
            <li><a href="{% url 'index' %}" class="moveToarea2">구역2</a></li>
            <li><a href="{% url 'index' %}" class="moveToarea3">구역3</a></li>
          </ul>

          <div class="main_content">
              <div class="content">
                <div id="banner">
                  진주 유등축제 일정
                </div>
                <hr style="margin:10px 0;">
                <!-- 탭메뉴 -->
                <ul class="tabs">
                  <li class="tab-link current" data-tab="tab_1">행사 일정표</li>
                  <li class="tab-link" data-tab="tab_2">체험마당 및 부대행사</li>
                  <li class="tab-link" data-tab="tab_3">동반행사</li>
                </ul>
                <!-- 시간표 행사 일정표 -->
                <div id="tab_1" class="tab-content current">
                  <div id='calendar1'></div>
                    <hr>
                    <!-- 자세한 일정표 -->
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2> - 10.1 ~ 10.13 - </h2>
                        <h2 class="card-title">초혼점등</h2>
                        <h4 class="card-text">1. 읍·면·동 상징 등 거리행렬 (10.1 ( 18:30~19:20 ))</h4>
                        <a class="card-text">- 신안동 음악분수대 출발
                          <br>
                          - 읍·면·동 상징등(燈) 거리행렬 이동순서는 음악분수대 -> 인사동골동품거리 ->
                          진주성(공북문) -> 성수장 앞 삼거리 -> 진주교 -> 망경동 역사의 거리(전시)
                        </a>
                        <h4 class="card-text"> 2. 고유제 (10.1 ( 18:10 ))</h4>
                        <a class="card-text"> - 진주성(임진대첩계시순의단)</a>
                        <h4 class="card-text"> 3. 초혼점등(燈) (10.1 ( 19:30 ))</h4>
                        <a class="card-text"> - 망경동 특설무대<br>
                          - 진주남강유등축제에 전시된 모든 등(燈)에 처음으로 불을 밝히고, 축제의 시작을 알리는 행사</a>
                        <h4 class="card-text"> 4. 수상 불꽃놀이 (10.1 - 10.13 ( 20:00 ))</h4>
                        <a class="card-text">- 진주남강 일원</a>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">소망등 달기</h2>
                        <h4 class="card-text">망경동 남강둔치 <Br>
                          - 시민 및 외래관광객들이 각자의 소망을 적은 문구를 등(燈)에 부착하고, 소원을 비는 행사(참여수량 : 40,000개)</h4>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">유등 띄우기 ( 18:00 ~ 23:00 )</h2>
                        <h4 class="card-text">망경동 남강둔치<Br>
                          - 각자의 소망을 담은 등(燈)을 남강에 띄워 보냄</h4>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">추억의 유등 띄우기 (18:00, 19:00)</h2>
                        <h4 class="card-text">망경동 남강둔치<br>
                          - 옛추억을 되살리고 참여형 축제로 거듭나기 위해 지난 1955년부터 개최되어온 유등대회를 체험행사로 재현
                         </h4>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">수상등 전시</h2>
                        <h4 class="card-text"> 1. 세계풍물 등(燈) 및 한국의 미등(燈)</h4>
                        <a class="card-text">- 진주남강<Br>
                          - 세계풍물 등(燈) : 세계의 진귀한 풍물과 불가사의한 유적을 화려한 등(燈)으로 제작한 '세계풍물 등(燈) 
                            코너를 통해 지구촌의 이색적인 풍물기행의 진수를 맛 볼수 있습니다. 한국의 미 등(燈) : 한국의 미 등(燈)'코너에서는 
                            오천년의 역사 속에 켜켜이 쌓이고 쌓여 전해 내려온 한국의 국보와 문화재 등을 한 눈에 볼수 있습니다.
                      </a>
                      <h4 class="card-text"> 2. 동화나라 등(燈)</h4>
                        <a class="card-text">- 진주남강<br>
                          - 백설공주, 미녀와 야수 등 세계유수의 명작동화와 재미있는 이솝우화 등(燈) 코너에서 상상력과 창의력을 키우고, 교양도 쌓으세요 
                      </a>
                      <h4 class="card-text">  3. 진주의 혼 등燈)</h4>
                        <a class="card-text">- 진주남강<br>
                          - 진주에는 호의(義)를 바탕으로 한 진주정신이 있습니다. 진주정신이 담긴 '진주의 혼(魂)' 코너를 통해 천년 진주의 숨결을 느껴보십시오.
                       </a>
                      <h4 class="card-text"> 4. 기업 참여 등(燈)</h4>
                        <a class="card-text">- 진주남강<Br>
                          - 기업메세나 운동의 일환으로 진주남강유등축제를 후원하는 기업협찬 상징 등(燈)이 전시 되었습니다.
                      </a>
                      <h4 class="card-text"> 5. 전국지자체 참여 등(燈) 전시</h4>
                        <a class="card-text">- 진주남강<br>
                          - 전국지자체 참여 등(燈) 전시 : 8개 시·군(8기)</a>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">육상등 전시</h2>
                        <h4 class="card-text"> 1. 30개 읍면동 상징 등 전시</h4>
                        <a class="card-text">- 망경동 역사의 거리<Br>
                          - 진주시 30개 읍·면·동 상징 등(燈)으로 지역특산품, 상징물을 등(燈)으로 제작 전시 (참여수량 : 30기)
                       </a>
                       <h4 class="card-text"> 2. 세계의 귀신</h4>
                        <a class="card-text">- 망경동 역사의 거리<Br>
                          - 진주시 30개 읍·면·동 상징 등(燈)으로 지역특산품, 상징물을 등(燈)으로 제작 전시 (참여수량 : 30기)
                       </a>
                       <h4 class="card-text"> 3. 세계로 뻗어나가는 유등시리즈 "머라이언상"</h4>
                        <a class="card-text">- 망경동 분수대<Br>
                          - 대한민국을 넘어 세계로 뻗어가는 유등축제의 명성에 맞게 전세계를 대표하는 랜드마크를 매년 초대형 등(燈)으로
                          만나는 글로벌 유등시리즈 세번째 상징물인 싱가포르 "머라이언상”
                       </a>
                       <h4 class="card-text"> 4. 백악기월드 인 진주</h4>
                        <a class="card-text">- 신안동 음악분수대<Br>
                          - 진주에서 발견된 공룡 발자국을 모티브로 제작한 등(燈)으로 테마공원 조성 (30기)
                       </a>
                       <h4 class="card-text">  5. 종교참여 등(燈)전시</h4>
                        <a class="card-text">- 망경동 남강둔치<Br>
                          - 진종교계 참여 등(燈) 전시
                       </a>
                      </div>
                    </div>
                    <div class="tablecard1">
                        <div class="card-body">
                          <h2 class="card-title">창작등 전시</h2>
                          <h4 class="card-text"> 신안동 음악분수대 </h4>
                          <a class="card-text">- 망경동 역사의 거리<Br>
                            - 고등학생들의 경연대회로 학생 개개인의 기발한 아이디어로 소형 등(燈)을 만들어 출품, 시상함
                         </a>
                        </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">'빛으로 되살아난 진주성' 등 전시</h2>
                        <h4 class="card-text"> 1. 추억의 문이 열립니다 | -100년의 추억</h4>
                        <a class="card-text">- 김시민 장군 동상 주변<Br>
                              - 금년도 주제를 담은 메인 테마존으로 지난 100여년전의 역사와 추억을 담은 유등으로 대형 기차, 
                              건물 등(燈)으로 근현대적인 분위기를 연출하여 진주적인 한국적인 분위기의 등(燈) 전시
                        </a>
                        <h4 class="card-text">  2. 한국의 풍습 등(燈)</h4>
                        <a class="card-text">- 진주성 야외공연장 주변<Br>
                              - 옛 추억이 넘쳐 흐르는 '한국의 풍습 등(燈)에 오셔서 옛날 할머니가 들려주신 옛이야기를 눈으로 직접 확인하세요. 
                        </a>
                        <h4 class="card-text"> 3. 유물 등(燈)</h4>
                        <a class="card-text">- 박물관 앞<Br>
                              - 범종과 분청사기, 금동제미륵보살반가사유상 등 다양한 유물을 만나볼수 있는 유물 등(燈)'이있습니다. 조상들의 삶과 얼이 담겨 있는 유물을 등(燈)으로 감상하시면서 역사 공부도 덤으로 하세요.
                        </a>
                        <h4 class="card-text">  4. 진주성전투 재현 등(燈)</h4>
                        <a class="card-text">- 진주성 외곽성벽<Br>
                              - 임진년(1592) 10월, 왜군의 침략 야욕을 분쇄시킨 진주성전투의 전투장면을 등(燈)으로 감상하세요.
                        </a>
                        <h4 class="card-text">  5. 삼강오륜(三綱五倫) 등</h4>
                        <a class="card-text">- 북장대 앞<Br>
                              - 사회 윤리의 근본이 되는 삼강(三)과 오륜(五倫! '삼강오륜 등(燈)'을 관람하면서 한국 전통의 윤리 질서를 봉건적 잔재라고 
                              무시해 버리기 보다는 자신을 되돌아볼 수 있는 기회로 삼는 것도 좋습니다.
                        </a>
                        <h4 class="card-text">  5. 삼강오륜(三綱五倫) 등</h4>
                        <a class="card-text">- 북장대 앞<Br>
                             - 사회 윤리의 근본이 되는 삼강(三)과 오륜(五倫! '삼강오륜 등(燈)'을 관람하면서 한국 전통의 윤리 질서를 봉건적 잔재라고 
                             무시해 버리기 보다는 자신을 되돌아볼 수 있는 기회로 삼는 것도 좋습니다.
                        </a>
                        <h4 class="card-text">   6. 속담 등(燈)</h4>
                        <a class="card-text">- 진주성 우물복원 주변<Br>
                            - '낫 놓고 기역자도 모른다, 개천에서 용난다' 등 예로부터 전해지는 조상들의 지혜가 담긴 속담을 등(燈)으로 표현
                        </a>
                        <h4 class="card-text">  7. 민화 등(燈)</h4>
                        <a class="card-text">- 진주성 포루 주변<Br>
                           - 호랑이, 봉황 등의 민화 등(燈) 전시
                        </a>
                        <h4 class="card-text">  8. 10월의 크리스마스</h4>
                        <a class="card-text">- 창렬사 뒤<Br>
                          - 산타클로스, 눈사람 등(燈)으로 크리스마스 분위기 연출
                        </a>
                        <h4 class="card-text">  9. 현대 등(燈)</h4>
                        <a class="card-text">- 진주성 내<Br>
                         - 진주성 둘레길 일부 구간에 열기구 모형의 등(燈) 전시
                        </a>
                        <h4 class="card-text">   10. 민속놀이</h4>
                        <a class="card-text">- 김시민 장군 동상 주변<Br>
                        - 민간에 전해 내려오는 민속놀이는 양반층보다는 농민들을 중심으로 한 놀이로 농경세시의 변화에 맞추어 세시풍속으로 
                        이루어지는 것이 보통이다. 대표적인 민속놀이인 비석치기, 연날리기, 제기차기, 죽마 등을 등(燈)으로 표현했다.
                        </a>
                      </div>
                    </div>
                </div>
                <!-- 시간표 체험마당 및 부대행사 -->
                <div id="tab_2" class="tab-content">
                  <div id='calendar2'></div>
                  <hr>
                  <!-- 자세한 일정표 -->
                  <div class="tablecard1">
                    <div class="card-body">
                      <h2> - 10.1 ~ 10.13 - </h2>
                      <h4 class="card-text"> 2019 진주남강유등축제 '워터라이딩쇼' (19:30, 20:30, 21:30)</h4>
                      <a class="card-text">- 진주남강
                        <br>
                        - 4개의 각공간에 차별화된 조명시설과 프로그램으로 기획하여 다채로운 야간 이벤트 연출
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 소망등 달기 체험 ( 13:00 ~ 23:00 )</h4>
                      <a class="card-text"> - 망경동 남강둔치
                        <br>
                        - 자기소망을 적은 소망등을 전시장에 직접 게시하는 체험행사(참가금액 : 10000원)
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 소형등 만들기 체험  ( 13:00 ~ 23:00 )</h4>
                      <a class="card-text"> - 망경동 남강둔치
                        <br>
                        - 진주유등체험관, link 사업단에서 운영하는 소형등, 직접 만들기 체험행사 (유료)
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 유등 만들어 띄우기 체험  ( 18:00 ~ 23:00 )</h4>
                      <a class="card-text"> - 망경동 남강둔치
                        <br>
                        - 관광객들이 직접 등을 만들어 남강에 띄우는 체험행사(참가금액 : 3000원)
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 사랑다리 건너기 체험  ( 10:00 ~ 24:00 )</h4>
                      <a class="card-text"> - 제1부교, 제2부교, 제3부교
                        <br>
                        - 사랑다리 건너기체험 (참가금액 : 편도 2000원, 통합권 5000원)
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 사랑의 프러포즈 이벤트(로멘틱연애조작단)  ( 18:00 ~ 23:00 )</h4>
                      <a class="card-text"> - 망경동 남강둔치
                        <br>
                        - 연인들이 사랑을 고백하고 확인하는 이벤트
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 시민참여 등 만들기 체험  ( 13:00 ~ 23:00 )</h4>
                      <a class="card-text"> - 신안동 음악분수대
                        <br>
                        - 체험참가금액 : 무료 / 12지신상 등 완성체험
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 전통놀이 체험  ( 13:00 ~ 23:00 )</h4>
                      <a class="card-text"> - 진주성 내
                        <br>
                        - 제기차기, 투호놀이 등 전통놀이 체험
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 소원성취 나무 등체험  ( 13:00 ~ 23:00 )</h4>
                      <a class="card-text"> - 주성 야외공연장 주변
                        <br>
                        - 소원을 입력하면 태블릿에 출력되어 하나의 열매로 맺는 소원성취나무 체험
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 스템프랠리  ( 10:00 ~ 24:00 ))</h4>
                      <a class="card-text"> - 행사장 일원
                        <br>
                        - 상품수령처 : 망경동 종합안내소, 진주성 종합안내소
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 대한민국 등 공모 대전출품작 전시 </h4>
                      <a class="card-text"> - 망경동 분수대
                        <br>
                        - 대한민국 등(燈) 공모대전 출품작 전시
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 유람선으로 아름다운 등 관람체험 ( 13:00 ~ 24:00 )</h4>
                      <a class="card-text"> - 남강(진주교와 천수교사이) 선착장.망경동 둔치
                        <br>
                        - 진체험참가금액<br>
                        · 주간 - 균일 : 5000원<br>
                        · 야간 - 균일 : 6000원<br>
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 로봇물고기 유영 쇼 ( 17:00 ~ 24:00 )</h4>
                      <a class="card-text"> - 3부교(진주성 서징대 아래)
                        <br>
                        - 자율주행하는 빛나는 로봇물고기
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 남가람 어울마당 ( 19:00 ~ 21:30 )</h4>
                      <a class="card-text"> - 망경동 특설무대, 진주성 특설무대 
                        <br>
                        - 진주의 무형문화재공연, 세계민속공연, 청소년들의 참여공연, 기타 예술단체들을 초청하여 매일 저녁 2회 정도의 공연
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> DJ와 함께 하는 추억의 음악다방 ( 13:00 ~ 23:00 ) </h4>
                      <a class="card-text"> - 진주성 '우물복원' 주변
                        <br>
                        - 진주에서 활동한 음악다방 DJ의 방송과 함께 음악도 신청하면서 차도 마시는 공간 구성<br>
                        (공연시간 : 19:00 ~ 22:00) MBC경남과 함께하는 유등방송국 (LIVE 공연 : 17:00 ~ 19:00)
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> MBC경남 '유등LIVE' ( 17:00 ~ 23:00 )</h4>
                      <a class="card-text"> - 진주성 야외공연장 주변
                        <br>
                        - MBC경남과 함께하는 유등방송국 <br>
                        (Live 공연 : 17:00 ~ 19:00)
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 빛터널 ( 18:00 ~ 24:00 )</h4>
                      <a class="card-text"> - 진주교, 천수교
                        <br>
                        - 하늘길, 가람길
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 축등 설치 </h4>
                      <a class="card-text"> - 뒤벼리, 진주성 주위, 진양교 위, 인사동 골동품거리, 진주관문, 임시주차장
                        <br>
                        - 축제분위기를 조성하기 위한 축등(燈) 설치
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 수상 등 카페 운영</h4>
                      <a class="card-text"> - 망경동 남강둔치
                      </a>
                    </div>
                  </div>
                  <div class="tablecard1">
                    <div class="card-body">
                      <h4 class="card-text"> 진주음식큰잔치 및 농.특산품 판매코너 </h4>
                      <a class="card-text"> - 망경동 남강둔치
                        <br>
                        - 음식큰잔치 및 농·특산품 판매장 운영
                      </a>
                    </div>
                  </div>

                    
                </div>
                <!-- 동반행사 -->                
                <div id="tab_3" class="tab-content">
                  <div id='calendar3'></div>
                    <hr>
                    <!-- 자세한 일정표 -->
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2> - 10.1 ~ 10.2 - </h2>
                        <h4 class="card-text"> 진주성 수성중군영 교대의식(15:00)</h4>
                        <a class="card-text">- 공북문 일원
                          <br>
                          - 4개의 각공간에 차별화된 조명시설과 프로그램으로 기획하여 다채로운 야간 이벤트 연출
                        </a>
                     </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2> - 10.1 ~ 10.13 - </h2>
                        <h4 class="card-text"> 박물관 문화체험(13:00~22:00)</h4>
                        <a class="card-text">- 국립진주박물관
                          <br>
                          - 종이꽃병 만들기(특별전 &lt조선도지, 히젠의 색을 입다&gt 연계), 컬러링 엽서, 목판인쇄 체험
                        </a>
                     </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h4 class="card-text"> 3D입체영화 진주성전투(10:00~20:00)</h4>
                        <a class="card-text">- 국립진주박물관
                          <br>
                          - 진주성 1차 전투를 소재로 한 애니매이션 영화 ( 매시간 정시에 시작, 소요시간 15분 )
                        </a>
                     </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h4 class="card-text"> 2019한일문화교류특별전 </h4>
                        <a class="card-text">- 국립진주박물관
                          <br>
                          - 임진왜란 전후 일본 도자문화의 변화와 발전과정을 통해 한일 문화교류 양성 소개( 12.8까지 전시 )
                        </a>
                     </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h4 class="card-text"> 거리아트페스티벌(18:00~20:00)</h4>
                        <a class="card-text">- 촉석문 ~ 공북문, 지하상가, 롯데몰, 중앙시장 현판문 입구, 풍물시장 4부교 옆
                          </a>
                     </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2> - 10.1 ~ 10.13 - </h2>
                        <h4 class="card-text"> 진주성 한복체험(13:00~22:00)</h4>
                        <a class="card-text">- 진주성내
                          <br>
                          - 주최 : 에나시티협동조합 
                          <br>
                          - 전통과 고유한 멋을 살린 한복체험( 유료 )
                        </a>
                     </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2> - 10.5 - </h2>
                        <h4 class="card-text"> 제 13회 대한민국 농악축제(12:00~18:00)</h4>
                        <a class="card-text">- 진주성 임진대첩 계사순의단 앞 광장
                        </a>
                     </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2> - 10.11 ~ 10.13 - </h2>
                        <h4 class="card-text"> 진주성 전통무기 및 무예체험</h4>
                        <a class="card-text">- 공북문 일원
                          <br>
                          - 종이꽃병 만들기(특별전 &lt조선도지, 히젠의 색을 입다&gt 연계), 컬러링 엽서, 목판인쇄 체험
                        </a>
                     </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2> - 10.12 - </h2>
                        <h4 class="card-text"> 진주 역사 골든벨(14:00) </h4>
                        <a class="card-text">- 진주성 임진대첩 계사순의단 앞 광장
                          <br>
                          - 진주향당과 함께하는 진주 역사 골든벨
                        </a>
                     </div>
                    </div>
                  
                
                  

                </div>
                

              </div>
              <a id="back-to-top"></a>     
              <footer> footer  <footer>
          </div>
        </div>
    </body>
</html>
