{% load static %}
<!DOCTYPE html> 
<html>
    <head>
        <meta charset='utf-8' />
        <title>진주 유등 축제 일정</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'timetable.css' %}">
        <script type = "text/javascript" src="{% static 'timetable.js' %}"></script>
        <script type = "text/javascript" src="{% static 'nav.js' %}"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/locales-all.min.js"></script>
      </head>
    <body>
        <div class="container">
          <div class="back-space"></div>
            <ul class="navbar" id="sidebox">
                <li><a href="{% url 'index' %}" class="main_nav">진주 유등축제</a></li>
                <hr style="margin:20px 0">
                <li><a href="#" class>달력</a></li>
                <li><a href="#" class>구역1</a></li>
                <li><a href="#" class>구역2</a></li>
                <li><a href="#" class>구역3</a></li>
            </ul>
            <div class="main_content">
              <div class="content">
                <div id="banner">
                  진주 유등축제 일정
                </div>
                <hr style="margin:10px 0;">
                <!-- 탭메뉴 -->
                <ul class="tabs">
                  <li class="tab-link current" data-tab="tab_1">행사 일정표</li>
                  <li class="tab-link" data-tab="tab_2">체험마당 및 부대행사</li>
                  <li class="tab-link" data-tab="tab_3">동반행사</li>
                </ul>
                <!-- 시간표 -->
                <div id="tab_1" class="tab-content current">
                  <div id='calendar1'></div>
                    <hr>
                    <!-- 자세한 일정표 -->
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">초혼점등</h2>
                        <h4 class="card-text">1. 읍·면·동 상징 등 거리행렬 (10.1 ( 18:30~19:20 ))</h4>
                        <a class="card-text">- 신안동 음악분수대 출발
                          <br>
                          - 읍·면·동 상징등(燈) 거리행렬 이동순서는 음악분수대 -> 인사동골동품거리 ->
                          진주성(공북문) -> 성수장 앞 삼거리 -> 진주교 -> 망경동 역사의 거리(전시)
                        </a>
                        <h4 class="card-text"> 2. 고유제 (10.1 ( 18:10 ))</h4>
                        <a class="card-text"> - 진주성(임진대첩계시순의단)</a>
                        <h4 class="card-text"> 3. 초혼점등(燈) (10.1 ( 19:30 ))</h4>
                        <a class="card-text"> - 망경동 특설무대<br>
                          - 진주남강유등축제에 전시된 모든 등(燈)에 처음으로 불을 밝히고, 축제의 시작을 알리는 행사</a>
                        <h4 class="card-text"> 4. 수상 불꽃놀이 (10.1 - 10.13 ( 20:00 ))</h4>
                        <a class="card-text">- 진주남강 일원</a>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">소망등 달기</h2>
                        <h4 class="card-text">망경동 남강둔치 <Br>
                          - 시민 및 외래관광객들이 각자의 소망을 적은 문구를 등(燈)에 부착하고, 소원을 비는 행사(참여수량 : 40,000개)</h4>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">유등 띄우기 ( 18:00 ~ 23:00 )</h2>
                        <h4 class="card-text">망경동 남강둔치<Br>
                          - 각자의 소망을 담은 등(燈)을 남강에 띄워 보냄</h4>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">추억의 유등 띄우기 (18:00, 19:00)</h2>
                        <h4 class="card-text">망경동 남강둔치<br>
                          - 옛추억을 되살리고 참여형 축제로 거듭나기 위해 지난 1955년부터 개최되어온 유등대회를 체험행사로 재현
                         </h4>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">수상등 전시</h2>
                        <h4 class="card-text"> 1. 세계풍물 등(燈) 및 한국의 미등(燈)</h4>
                        <a class="card-text">- 진주남강<Br>
                          - 세계풍물 등(燈) : 세계의 진귀한 풍물과 불가사의한 유적을 화려한 등(燈)으로 제작한 '세계풍물 등(燈) 
                            코너를 통해 지구촌의 이색적인 풍물기행의 진수를 맛 볼수 있습니다. 한국의 미 등(燈) : 한국의 미 등(燈)'코너에서는 
                            오천년의 역사 속에 켜켜이 쌓이고 쌓여 전해 내려온 한국의 국보와 문화재 등을 한 눈에 볼수 있습니다.
                      </a>
                      <h4 class="card-text"> 2. 동화나라 등(燈)</h4>
                        <a class="card-text">- 진주남강<br>
                          - 백설공주, 미녀와 야수 등 세계유수의 명작동화와 재미있는 이솝우화 등(燈) 코너에서 상상력과 창의력을 키우고, 교양도 쌓으세요 
                      </a>
                      <h4 class="card-text">  3. 진주의 혼 등燈)</h4>
                        <a class="card-text">- 진주남강<br>
                          - 진주에는 호의(義)를 바탕으로 한 진주정신이 있습니다. 진주정신이 담긴 '진주의 혼(魂)' 코너를 통해 천년 진주의 숨결을 느껴보십시오.
                       </a>
                      <h4 class="card-text"> 4. 기업 참여 등(燈)</h4>
                        <a class="card-text">- 진주남강<Br>
                          - 기업메세나 운동의 일환으로 진주남강유등축제를 후원하는 기업협찬 상징 등(燈)이 전시 되었습니다.
                      </a>
                      <h4 class="card-text"> 5. 전국지자체 참여 등(燈) 전시</h4>
                        <a class="card-text">- 진주남강<br>
                          - 전국지자체 참여 등(燈) 전시 : 8개 시·군(8기)</a>
                      </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">육상등 전시</h2>
                        <h4 class="card-text"> 1. 30개 읍면동 상징 등 전시</h4>
                        <a class="card-text">- 망경동 역사의 거리<Br>
                          - 진주시 30개 읍·면·동 상징 등(燈)으로 지역특산품, 상징물을 등(燈)으로 제작 전시 (참여수량 : 30기)
                       </a>
                       <h4 class="card-text"> 2. 세계의 귀신</h4>
                        <a class="card-text">- 망경동 역사의 거리<Br>
                          - 진주시 30개 읍·면·동 상징 등(燈)으로 지역특산품, 상징물을 등(燈)으로 제작 전시 (참여수량 : 30기)
                       </a>
                       <h4 class="card-text"> 3. 세계로 뻗어나가는 유등시리즈 "머라이언상"</h4>
                        <a class="card-text">- 망경동 분수대<Br>
                          - 대한민국을 넘어 세계로 뻗어가는 유등축제의 명성에 맞게 전세계를 대표하는 랜드마크를 매년 초대형 등(燈)으로
                          만나는 글로벌 유등시리즈 세번째 상징물인 싱가포르 "머라이언상”
                       </a>
                       <h4 class="card-text"> 4. 백악기월드 인 진주</h4>
                        <a class="card-text">- 신안동 음악분수대<Br>
                          - 진주에서 발견된 공룡 발자국을 모티브로 제작한 등(燈)으로 테마공원 조성 (30기)
                       </a>
                       <h4 class="card-text">  5. 종교참여 등(燈)전시</h4>
                        <a class="card-text">- 망경동 남강둔치<Br>
                          - 진종교계 참여 등(燈) 전시
                       </a>
                      </div>
                    </div>
                    <div class="tablecard1">
                        <div class="card-body">
                          <h2 class="card-title">창작등 전시</h2>
                          <h4 class="card-text"> 신안동 음악분수대 </h4>
                          <a class="card-text">- 망경동 역사의 거리<Br>
                            - 고등학생들의 경연대회로 학생 개개인의 기발한 아이디어로 소형 등(燈)을 만들어 출품, 시상함
                         </a> 
                        </div>
                    </div>
                    <div class="tablecard1">
                      <div class="card-body">
                        <h2 class="card-title">'빛으로 되살아난 진주성' 등 전시</h2>
                        <h4 class="card-text"> 1. 추억의 문이 열립니다 | -100년의 추억</h4>
                        <a class="card-text">- 김시민 장군 동상 주변<Br>
                              - 금년도 주제를 담은 메인 테마존으로 지난 100여년전의 역사와 추억을 담은 유등으로 대형 기차, 
                              건물 등(燈)으로 근현대적인 분위기를 연출하여 진주적인 한국적인 분위기의 등(燈) 전시
                        </a>
                        <h4 class="card-text">  2. 한국의 풍습 등(燈)</h4>
                        <a class="card-text">- 진주성 야외공연장 주변<Br>
                              - 옛 추억이 넘쳐 흐르는 '한국의 풍습 등(燈)에 오셔서 옛날 할머니가 들려주신 옛이야기를 눈으로 직접 확인하세요. 
                        </a>
                        <h4 class="card-text"> 3. 유물 등(燈)</h4>
                        <a class="card-text">- 박물관 앞<Br>
                              - 범종과 분청사기, 금동제미륵보살반가사유상 등 다양한 유물을 만나볼수 있는 유물 등(燈)'이있습니다. 조상들의 삶과 얼이 담겨 있는 유물을 등(燈)으로 감상하시면서 역사 공부도 덤으로 하세요.
                        </a>
                        <h4 class="card-text">  4. 진주성전투 재현 등(燈)</h4>
                        <a class="card-text">- 진주성 외곽성벽<Br>
                              - 임진년(1592) 10월, 왜군의 침략 야욕을 분쇄시킨 진주성전투의 전투장면을 등(燈)으로 감상하세요.
                        </a>
                        <h4 class="card-text">  5. 삼강오륜(三綱五倫) 등</h4>
                        <a class="card-text">- 북장대 앞<Br>
                              - 사회 윤리의 근본이 되는 삼강(三)과 오륜(五倫! '삼강오륜 등(燈)'을 관람하면서 한국 전통의 윤리 질서를 봉건적 잔재라고 
                              무시해 버리기 보다는 자신을 되돌아볼 수 있는 기회로 삼는 것도 좋습니다.
                        </a>
                        <h4 class="card-text">  5. 삼강오륜(三綱五倫) 등</h4>
                        <a class="card-text">- 북장대 앞<Br>
                             - 사회 윤리의 근본이 되는 삼강(三)과 오륜(五倫! '삼강오륜 등(燈)'을 관람하면서 한국 전통의 윤리 질서를 봉건적 잔재라고 
                             무시해 버리기 보다는 자신을 되돌아볼 수 있는 기회로 삼는 것도 좋습니다.
                        </a>
                        <h4 class="card-text">   6. 속담 등(燈)</h4>
                        <a class="card-text">- 진주성 우물복원 주변<Br>
                            - '낫 놓고 기역자도 모른다, 개천에서 용난다' 등 예로부터 전해지는 조상들의 지혜가 담긴 속담을 등(燈)으로 표현
                        </a>
                        <h4 class="card-text">  7. 민화 등(燈)</h4>
                        <a class="card-text">- 진주성 포루 주변<Br>
                           - 호랑이, 봉황 등의 민화 등(燈) 전시
                        </a>
                        <h4 class="card-text">  8. 10월의 크리스마스</h4>
                        <a class="card-text">- 창렬사 뒤<Br>
                          - 산타클로스, 눈사람 등(燈)으로 크리스마스 분위기 연출
                        </a>
                        <h4 class="card-text">  9. 현대 등(燈)</h4>
                        <a class="card-text">- 진주성 내<Br>
                         - 진주성 둘레길 일부 구간에 열기구 모형의 등(燈) 전시
                        </a>
                        <h4 class="card-text">   10. 민속놀이</h4>
                        <a class="card-text">- 김시민 장군 동상 주변<Br>
                        - 민간에 전해 내려오는 민속놀이는 양반층보다는 농민들을 중심으로 한 놀이로 농경세시의 변화에 맞추어 세시풍속으로 
                        이루어지는 것이 보통이다. 대표적인 민속놀이인 비석치기, 연날리기, 제기차기, 죽마 등을 등(燈)으로 표현했다.
                        </a>
                      </div>
                    </div>
                </div>

                <div id="tab_2" class="tab-content">
                  <div id='calendar2'></div>
                  <hr>
                  <!-- 자세한 일정표 -->
                  <div class="tablecard1">
                    <div class="card-body">
                      <h2 class="card-title">초혼점등</h2>
                      <h4 class="card-text">1. 읍·면·동 상징 등 거리행렬 (10.1 ( 18:30~19:20 ))</h4>
                      <a class="card-text">- 신안동 음악분수대 출발
                        <br>
                        - 읍·면·동 상징등(燈) 거리행렬 이동순서는 음악분수대 -> 인사동골동품거리 ->
                        진주성(공북문) -> 성수장 앞 삼거리 -> 진주교 -> 망경동 역사의 거리(전시)
                      </a>
                      <h4 class="card-text"> 2. 고유제 (10.1 ( 18:10 ))</h4>
                      <a class="card-text"> - 진주성(임진대첩계시순의단)</a>
                      <h4 class="card-text"> 3. 초혼점등(燈) (10.1 ( 19:30 ))</h4>
                      <a class="card-text"> - 망경동 특설무대<br>
                        - 진주남강유등축제에 전시된 모든 등(燈)에 처음으로 불을 밝히고, 축제의 시작을 알리는 행사</a>
                      <h4 class="card-text"> 4. 수상 불꽃놀이 (10.1 - 10.13 ( 20:00 ))</h4>
                      <a class="card-text">- 진주남강 일원</a>
                    </div>
                  </div>
                </div>
                
                <div id="tab_3" class="tab-content">
                  <div id='calendar3'></div>
                  <hr>
                    <p>Korem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
              <a id="back-to-top"></a>     
              <footer> footer  <footer>
              </div>
            </div>
    </body>
</html>
